<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>

    <!--dimas -->
    <div class="background">
      <div class="transbox">
        <h2>Perkalian Dimas</h2>
        <p>5x15=</p>
        <p id="perkalian"></p>
      </div>
    </div>
    
    <!-- abrar -->
    <div class="transbox">
    <h2><p>Operasi Akar Kuadrat dari 25 adalah</p></h2>
    <h3><p id="Operasi_Akar"></p></h3>
    </div>
    
    <!--randi -->
    <div class="transbox">
      <h2> pengurangan randi </randi>
      <p>4-3=</p>
      <p id="pengurangan_randi"></p>
    </div>
    </div>

    <!--khobar -->
    <div class="transbox">
      <input type="text" id="angka1" placeholder="masukkan angka 1"><br>
        <input type="text" id="angka2" placeholder="masukkan angka 2"><br>
        <button onclick="modulo()">hitung modulo</button><br>
        <p>Hasilnya Adalah:</p>
        <p id="hasil">Hasil</p>
    </div>
    
    <!--dwi -->
    <div class="transbox"> 
      <p id="penjumlahan"></p>
      </div>
    
    <!-- vinsen -->
    <div class="transbox">
    <p>Pembagian dari 5/2 adalah?</p>
    <p id="bagi"></p>
    </div>

    <!-- Document Get Element By Tag Name -->
    <h1>My age is 26</h1>

    <h2 id="age">{{ age }}</h2>
    <select onclick="onSelectedOption($event)">
      <option value="{{}}"> Apel</option>
    </select>

    <button type="button" onclick="clickMe()">Click me!</button>


    
    <script src="script.js"></script>
    <script src="abrar.js"></script>
    <script src="vinsen.js"></script>
    <script src="randi.js"></script> 
    <script src="dwi.js"></script>
    <script src="khobar.js"></script>
    <script src="dimas.js"></script>  
  </body>
</html>

